# Binaries & build artifacts
build/

cmd/desktop/build/
cmd/desktop/build
pebblepost
pebblepost.exe
*.deb
*.zip
*.tar.gz

# Frontend build & dependencies
web/dist/
web/node_modules/
web/.eslintcache
web/package.json.md5
web/wailsjs/
*.tsbuildinfo

# Local secret data & environments
data/
*.secret.env.json
*.secret.json
.env
.env.local
.pebble/cookies.json
*.cookies.json
.pebble/trash/

# Operating System & IDEs
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Go cache
*.out
*.test
